@font-face {
    font-family: 'MyFont';
    src: url('./milkycow.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: gold;
    font-family: "MyFont";
    background: url('./webpack.svg');
}